body {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: 'SignPainter-HouseScript';
  src: url("../fonts/SignPainter-HouseScript.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue Regular';
  src: url("../fonts/BebasNeue Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue Bold';
  src: url("../fonts/BebasNeue Bold.ttf");
  font-weight: bold;
  font-style: normal; }

.header {
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  overflow: hidden; }

.header .container::before {
  content: '';
  height: 119px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0; }

.header__top {
  display: flex; }

.header__search-logo {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 7px 0 0 0;
  z-index: 2;
  margin-right: 127px; }

.header__search {
  background: #000;
  border: 1px solid #8193a1;
  padding: 5px 23px 5px 7px;
  position: relative;
  color: #8193a1;
  font-family: 'BebasNeue Regular', Arial;
  min-width: 208px;
  box-sizing: border-box; }
  .header__search::after {
    content: '';
    width: 12px;
    height: 12px;
    right: 0;
    top: 0;
    display: block;
    background: url("../img/magnifying-glass.png"); }

.header__magnifier {
  position: absolute;
  width: 12px;
  height: 12px;
  background: url("../img/magnifying-glass.png");
  background-repeat: no-repeat;
  border: 0;
  top: 15px;
  left: 186px; }

.header__links-bag {
  z-index: 2; }

.header__logo {
  padding: 17px 0 9px 11px; }

.header__social-list {
  display: flex;
  padding: 11px 0 13px 0;
  margin: 0; }

.header__social-item {
  list-style: none;
  margin-right: 30px; }
  .header__social-item:first-child {
    margin-left: auto; }
  .header__social-item:last-child {
    margin-right: 0; }

.header__social-link {
  position: relative;
  z-index: 3; }
  .header__social-link::before {
    content: '';
    position: relative;
    display: block;
    z-index: -1; }
  .header__social-link--vk::before {
    width: 34px;
    height: 20px;
    background: url("../img/vk-logo.png"); }
  .header__social-link--instagram::before {
    width: 21px;
    height: 21px;
    background: url("../img/instagram-logo.png"); }
  .header__social-link--envato::before {
    width: 19px;
    height: 21px;
    background: url("../img/envato-logo.png"); }
  .header__social-link--soundcloud::before {
    width: 36px;
    height: 20px;
    background: url("../img/soundcloud-logo.png"); }

.header__anchor-list {
  padding: 0;
  margin: 0;
  display: flex; }

.header__anchor-item {
  list-style: none;
  border-top: 10px solid red;
  padding-top: 13px;
  min-width: 99px;
  text-align: center; }
  .header__anchor-item--gold {
    border-color: #ffb001; }
  .header__anchor-item--orange {
    border-color: #ff7200; }
  .header__anchor-item--pink {
    border-color: #cb0691; }
  .header__anchor-item--indigo {
    border-color: #8107b4; }
  .header__anchor-item--blue {
    border-color: #361c7d; }
  .header__anchor-item--lightblue {
    border-color: #0090cf; }

.header__anchor-link {
  text-decoration: none;
  color: #fff;
  font-family: 'SignPainter-HouseScript', Arial;
  font-size: 25px; }

.header__bottom {
  text-align: center;
  padding: 85px 0 315px 0; }

.header__title {
  margin: 0;
  font-size: 62.5px;
  color: #fff;
  background: #ffb001;
  padding: 25px 47px;
  text-transform: uppercase;
  font-family: 'BebasNeue Regular', Arial;
  display: inline-block;
  margin-bottom: 39px;
  animation: rotation 900ms; }

.header__services-list {
  padding: 0;
  margin: 0;
  font-size: 0; }

.header__services-item {
  list-style: none;
  margin-bottom: 34px;
  display: flex;
  justify-content: center; }
  .header__services-item:last-child {
    margin-bottom: 0; }

.header__service {
  color: #fff;
  padding: 19px 34px;
  margin: 0;
  margin-right: 24px;
  font-family: 'BebasNeue Bold', Arial;
  font-size: 37.5px;
  background: rgba(255, 255, 255, 0.1); }
  .header__service--bigger {
    padding: 19px 45px; }
  .header__service--from-top {
    animation: slideFromTop 900ms; }
  .header__service--from-left {
    animation: slideFromLeft 900ms; }
  .header__service--from-right {
    animation: slideFromRight 900ms; }
  .header__service:last-child {
    margin-right: 0; }

.container {
  max-width: 1357px;
  margin: 0 auto; }

.about {
  background: #efefef url("../img/background-gray.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 90px; }

.about__features {
  padding: 0;
  margin: 0 auto;
  display: flex;
  margin-top: -92px;
  justify-content: space-between;
  margin-bottom: 119px;
  max-width: 900px; }

.about__features-item {
  list-style: none;
  flex: 1; }
  .about__features-item:last-child {
    margin-right: 0; }

.about__feature-description {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 27px;
  text-align: center; }
  .about__feature-description::before {
    content: '';
    width: 187px;
    height: 187px;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; }
  .about__feature-description--terms::before {
    background: url("../img/terms-logo.png"); }
  .about__feature-description--creative::before {
    background: url("../img/creative-logo.png"); }
  .about__feature-description--equipment::before {
    background: url("../img/equipment-logo.png"); }

.about__slider {
  background: rgba(0, 0, 0, 0.2);
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  display: flex;
  min-height: 547px;
  margin-bottom: 74px;
  border-radius: 5px; }
  .about__slider::before {
    content: '';
    width: 320px;
    height: 613px;
    background: url("../img/patrik-photo.png");
    position: absolute;
    bottom: 0;
    left: 89px; }

.about__slide {
  position: absolute;
  right: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 83px 85px 79px 85px; }

.about__slide--2 {
  padding: 83px 46px 99px 85px; }

.about__slide--2 .about__slide-item {
  font-size: 25px;
  font-family: "BebasNeue Bold", sans-serif;
  max-width: 627px;
  text-align: left;
  position: relative;
  margin-bottom: 24px; }
  .about__slide--2 .about__slide-item::before {
    content: '';
    position: absolute;
    left: -70px;
    width: 48px;
    height: 48px;
    background: url("../img/checked-icon.png"); }

.about__slide--hidden {
  animation: slideLeft 300ms;
  animation-fill-mode: forwards; }

.about__slide-title {
  padding: 0;
  margin: 0;
  margin-bottom: 32px; }

.about__slide-title,
.about__slide-item {
  font-family: "BebasNeue Regular", sans-serif;
  font-size: 45.83px;
  text-align: center; }

.about__slide-list {
  padding: 0 15px 0 0;
  margin: 0; }

.about__slide-item {
  list-style: none;
  font-size: 37.5px;
  margin-bottom: 15px; }
  .about__slide-item--orange {
    color: #d55a1d;
    font-family: "BebasNeue Bold", sans-serif;
    font-size: 41.67px;
    margin-bottom: 30px; }
  .about__slide-item:last-child {
    margin-bottom: 0; }

.about__switches-list {
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 90%;
  right: 30%; }

.about__switches-item {
  list-style: none;
  margin-right: 10px; }
  .about__switches-item:last-child {
    margin-right: 0; }

.about__switch {
  height: 3px;
  width: 20px;
  border: 0;
  background: #fff;
  cursor: pointer; }
  .about__switch--active {
    background: #ff5e00; }
  .about__switch:hover, .about__switch:focus {
    background: #ff9253; }
  .about__switch--active:hover, .about__switch--active:focus {
    background: #ff5e00; }

.about__statistics {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1168px;
  flex-wrap: wrap;
  align-items: center; }

.about__statistics-item {
  flex: 1;
  list-style: none;
  text-align: center;
  position: relative; }
  .about__statistics-item::before {
    margin: 0 auto;
    position: relative;
    content: '';
    display: block;
    width: 73px;
    margin-bottom: 2px; }
  .about__statistics-item--years::before {
    height: 73px;
    background: url("../img/clock-icon.png"); }
  .about__statistics-item--clients::before {
    height: 73px;
    background: url("../img/hand-icon.png"); }
  .about__statistics-item--minuses::before {
    height: 75px;
    background: url("../img/notes-icon.png"); }
  .about__statistics-item--tracks::before {
    height: 72px;
    background: url("../img/mixer-icon.png"); }
  .about__statistics-item--compositions::before {
    height: 74px;
    background: url("../img/microphone-icon.png"); }

.about__statistics-number {
  font-size: 75px;
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 10px; }

.about__statistics-description {
  margin: 0;
  padding: 0;
  font-size: 16.67px;
  font-family: "BebasNeue Regular", sans-serif; }

@media (max-width: 1161px) {
  .about {
    background-size: auto; }
  .about__feature-description {
    font-size: 24px; }
  .about__slider::before {
    left: 30px; }
  .about__slide--2 {
    max-width: 500px; }
    .about__slide--2 .about__slide-item {
      font-size: 22px; }
  .about__statistics-description {
    font-size: 13.67px; } }

.portfolio {
  background: #485767 url("../img/background-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 15px;
  padding-bottom: 31px; }

.portfolio__title {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 83.33px;
  font-family: "BebasNeue Bold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 78px; }

.portfolio__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap; }

.portfolio__button {
  background: transparent;
  border: 0;
  position: absolute;
  width: 96px;
  height: 96px;
  cursor: pointer;
  z-index: 2; }
  .portfolio__button::before {
    content: '';
    width: 96px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .portfolio__button--prev::before {
    background: url("../img/button-prev.png"); }
  .portfolio__button--prev {
    left: 0; }
  .portfolio__button--next {
    right: 0; }
  .portfolio__button--next::before {
    background: url("../img/button-next.png"); }

.portfolio__slides {
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  min-height: 458px;
  min-width: 400px;
  max-width: 400px;
  margin-left: 58px; }

.portfolio__slide {
  list-style: none;
  position: absolute; }
  .portfolio__slide--hidden {
    animation: slideLeft 300ms;
    animation-fill-mode: forwards; }

.portfolio__slide-title {
  padding: 0;
  margin: 0;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 50px;
  color: #fff;
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 16px solid #ff7200; }

.portfolio__slide-text {
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-family: "BebasNeue Regular", sans-serif;
  color: #fff;
  margin-bottom: 20px;
  line-height: 28px;
  text-align: justify; }
  .portfolio__slide-text:last-child {
    margin-bottom: 0; }

.portfolio__services {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; }

.portfolio__services-item {
  list-style: none;
  position: relative;
  font-size: 25px;
  flex-basis: 200px;
  font-family: "BebasNeue Regular", sans-serif;
  color: #fff;
  line-height: 28px; }
  .portfolio__services-item:nth-child(even) {
    flex-basis: 160px;
    margin-left: 40px; }
  .portfolio__services-item:last-child {
    margin-bottom: 0; }
  .portfolio__services-item::before {
    content: '-';
    position: relative;
    margin-right: 3px; }

.portfolio__video {
  position: relative;
  min-width: 790px;
  min-height: 449px; }
  .portfolio__video::before {
    content: '';
    position: absolute;
    top: -40px;
    left: -42px;
    width: 880px;
    height: 449px;
    background: url("../img/macbook.png");
    z-index: 1; }
  .portfolio__video iframe {
    position: relative;
    top: -3px;
    left: 76px;
    z-index: 2; }
    .portfolio__video iframe .hidden {
      display: none; }

.portfolio__minus-link {
  position: absolute;
  z-index: 3;
  top: -3px;
  left: 76px; }
  .portfolio__minus-link--hidden {
    display: none; }

@media (min-width: 1223px) and (max-width: 1397px) {
  .portfolio .container {
    max-width: 1220px; } }

@media (max-width: 1394px) {
  .portfolio__slides {
    min-width: 500px;
    margin-left: 0;
    margin-bottom: 30px; }
  .portfolio__button--prev {
    left: 35px; }
  .portfolio__button--next {
    right: 35px; } }

.advantages {
  padding: 45px 0 60px 0;
  background: #efefef url("../img/background-gray.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }

.advantages__title {
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 54.17px;
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
  text-align: center; }

.advantages__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline; }

.advantages__item {
  position: relative;
  list-style: none;
  text-align: center;
  flex-basis: 30%;
  flex-grow: 1; }
  .advantages__item:nth-child(-n+3) {
    margin-bottom: 90px; }
  .advantages__item::before {
    position: relative;
    display: block;
    margin: 0 auto;
    content: ''; }
  .advantages__item--edits::before {
    width: 78px;
    height: 76px;
    margin-bottom: 20px;
    background: url("../img/brush-icon.png"); }
  .advantages__item--experience::before {
    width: 78px;
    height: 81px;
    margin-bottom: 20px;
    background: url("../img/thumb-icon.png"); }
  .advantages__item--rights::before {
    width: 56px;
    height: 78px;
    margin-bottom: 20px;
    background: url("../img/lock-icon.png"); }
  .advantages__item--multigenre::before {
    width: 73px;
    height: 79px;
    margin-bottom: 20px;
    background: url("../img/music-icon.png"); }
  .advantages__item--fast::before {
    width: 73px;
    height: 79px;
    margin-bottom: 20px;
    background: url("../img/stopwatch-icon.png"); }
  .advantages__item--online::before {
    width: 79px;
    height: 77px;
    margin-bottom: 20px;
    background: url("../img/online-icon.png"); }

.advantages__name {
  display: block;
  font-family: "BebasNeue Bold", sans-serif;
  margin: 0 auto;
  font-size: 28px;
  margin-bottom: 25px;
  max-width: 283px; }

.advantages__description {
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 11px;
  text-align: justify;
  margin: 0 auto;
  padding: 0;
  color: rgba(0, 0, 0, 0.5); }

@media (min-width: 1399px) {
  .advantages__name {
    font-size: 38px; }
  .advantages__description {
    font-size: 19px;
    max-width: 270px; } }

.partners {
  background: #485767 url("../img/background-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 25px; }

.partners__title {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 55px;
  text-align: center;
  margin-bottom: 40px; }

.partners__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center; }

.partners__item {
  list-style: none;
  margin-bottom: 55px; }

.reviews {
  padding: 65px 0;
  background: #efefef url("../img/background-gray.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }

.reviews .container {
  padding: 25px 0 65px 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.reviews__title {
  font-family: "BebasNeue Bold", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 55px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 65px; }

.reviews__text {
  font-family: Times New Roman;
  font-size: 25px;
  text-align: center;
  max-width: 737px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 25px; }

.reviews__author {
  display: block;
  font-size: 24px;
  color: #ff7200;
  text-align: center;
  margin-bottom: 85px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

.reviews__controls {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.reviews__controls-item {
  margin-right: 10px;
  list-style: none; }
  .reviews__controls-item:last-child {
    margin-right: 0; }

.reviews__button {
  border: 0;
  padding: 0;
  background: #fff;
  min-height: 3px;
  min-width: 20px;
  cursor: pointer; }
  .reviews__button--active {
    background: #ff7200; }
  .reviews__button:hover, .reviews__button:focus {
    background: #ffb001; }
  .reviews__button--active:hover, .reviews__button--active:focus {
    background: #ff7200; }

.price {
  background: #485767 url("../img/background-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 35px 0 109px 0; }

.price__title {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px; }

.price__list {
  padding: 0;
  max-width: 790px;
  margin: 0 auto;
  margin-bottom: 40px; }

.price__item {
  list-style: none;
  display: flex;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 25px;
  position: relative; }
  .price__item::before {
    content: attr(data-num);
    position: absolute;
    min-width: 52px;
    padding: 11px 3px;
    text-align: center;
    top: 0;
    left: -29px;
    border-radius: 30px;
    font-size: 35px;
    background: #fff; }
  .price__item--dark {
    background: #dadbdc; }
  .price__item--light {
    background: #eeeff0; }

.price__description {
  padding: 0;
  margin: 0;
  padding: 10px 0 0 40px;
  flex: 1;
  position: relative; }
  .price__description span {
    font-size: 13px;
    position: relative;
    display: block; }

.price__amount {
  padding: 10px 25px 15px 25px;
  min-width: 125px;
  text-align: center;
  display: block;
  font-size: 31px; }
  .price__amount--light {
    background: #eeeff0; }

.price__item--light .price__amount {
  background: #dadbdc; }

.price__item--dark .price__amount {
  background: #eeeff0; }

.price__done {
  position: relative;
  font-size: 28px;
  color: #fff;
  font-family: "BebasNeue Bold", sans-serif;
  text-decoration: none;
  text-align: center;
  display: table;
  margin: 0 auto; }
  .price__done::before {
    position: absolute;
    width: 110%;
    height: 2px;
    content: '';
    left: -5%;
    top: 50%;
    background: #fff; }

@media (max-width: 1000px) {
  .price__description {
    font-size: 28px; }
    .price__description span {
      font-size: 14px; } }

.footer {
  margin-top: -88px; }

.footer__sections {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4); }

.footer__sections-control {
  background: transparent;
  border: 0;
  padding-top: 20px;
  min-width: 465px;
  text-align: center;
  text-decoration: none;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 50px;
  color: #fff;
  cursor: pointer; }
  .footer__sections-control--active {
    cursor: default; }

.footer__sections-control--contacts {
  border-bottom: 15px solid #eba205; }
  .footer__sections-control--contacts.footer__sections-control--active {
    background: #eba205; }

.footer__sections-control--order {
  border-bottom: 15px solid #ff7100; }
  .footer__sections-control--order.footer__sections-control--active {
    background: #ff7100; }

.footer__content {
  background: #000;
  padding-top: 32px;
  padding-bottom: 46px;
  border-bottom: 3px solid #2a2a2a;
  position: relative;
  z-index: 2; }

.footer__contacts {
  max-width: 929px;
  margin: 0 auto; }
  .footer__contacts--hidden {
    display: none; }

.footer__contacts-personal {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.footer__personal-item {
  list-style: none;
  flex-basis: 463px;
  margin-bottom: 54px;
  position: relative;
  display: flex;
  align-items: center; }
  .footer__personal-item::before {
    content: '';
    position: relative;
    display: block;
    margin-right: 15px; }
  .footer__personal-item--phone::before {
    width: 31px;
    height: 31px;
    background: url("../img/phone-logo.png"); }
  .footer__personal-item--email::before {
    width: 32px;
    height: 23px;
    background: url("../img/email-logo.png"); }
  .footer__personal-item--vk::before {
    width: 44px;
    height: 26px;
    background: url("../img/vk-yellow-logo.png"); }

.footer__personal-text {
  margin: 0;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 30px;
  color: #fff; }

.footer__personal-text--title {
  font-size: 38px; }

.footer__personal-link {
  text-decoration: none;
  color: #414141; }

.footer__contacts-appeal {
  margin: 0;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 35px;
  color: #fff;
  text-align: center;
  margin-bottom: 25px; }

.footer__social-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between; }

.footer__social-item {
  list-style: none; }

.footer__social-link {
  position: relative;
  z-index: 3; }
  .footer__social-link::before {
    content: '';
    position: relative;
    display: block;
    width: 69px;
    height: 69px;
    z-index: -1; }
  .footer__social-link--vk::before {
    width: 72px;
    height: 69px;
    background: url("../img/footer-vk-logo.png"); }
  .footer__social-link--yt::before {
    background: url("../img/footer-youtube-logo.png"); }
  .footer__social-link--whatsapp::before {
    background: url("../img/footer-whatsapp-logo.png"); }
  .footer__social-link--instagram::before {
    width: 68px;
    height: 68px;
    background: url("../img/footer-instagram-logo.png"); }
  .footer__social-link--fb::before {
    background: url("../img/footer-facebook-logo.png"); }
  .footer__social-link--soundcloud::before {
    background: url("../img/footer-soundcloud-logo.png"); }
  .footer__social-link--envato::before {
    background: url("../img/footer-envato-logo.png"); }

.footer__form {
  display: flex;
  max-width: 929px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap; }
  .footer__form--hidden {
    display: none; }

.footer__form-title {
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
  flex-basis: 929px; }

.footer__inputs {
  padding: 0;
  margin: 0; }

.footer__inputs-item {
  list-style: none;
  margin-bottom: 22px; }
  .footer__inputs-item:last-child {
    margin-bottom: 0; }

.footer__input {
  padding: 11px 12px;
  min-width: 670px;
  color: #000;
  font-family: "BebasNeue Bold", sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 22px; }
  .footer__input::placeholder {
    color: #000;
    opacity: 1; }
  .footer__input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000; }
  .footer__input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000; }

.footer__submits {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1; }

.footer__submits-item {
  list-style: none;
  margin-left: 41px; }

.footer__button {
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 33px;
  padding: 20px 15px;
  text-align: center;
  color: #fff;
  background: #ff7100;
  border: 0;
  border-radius: 10px;
  cursor: pointer; }
  .footer__button--file {
    position: relative; }
  .footer__button--submit {
    width: 100%; }
  .footer__button:hover, .footer__button:focus {
    color: #000;
    background: #fff; }

.footer__file {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  letter-spacing: 10em;
  /* IE 9 fix */
  -ms-transform: scale(20);
  /* IE 9 fix */
  opacity: 0;
  cursor: pointer;
  font-size: 0; }

.footer__bottom {
  padding: 50px 0 37px 0;
  background: #000; }

.footer__bottom .container {
  max-width: 929px;
  display: flex;
  justify-content: space-between; }

.footer__copyrights-row {
  padding: 0;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 16px;
  color: #4e4e4e; }

.footer__logo {
  opacity: 0.3; }

@keyframes rotation {
  0% {
    transform: rotateY(90deg);
    opacity: 0; }
  70% {
    transform: rotateY(-20deg); }
  100% {
    transform: rotateY(0);
    opacity: 1; } }

@keyframes slideFromLeft {
  0% {
    transform: translateX(-600%); }
  80% {
    transform: translateX(20%); }
  100% {
    transform: translateX(0); } }

@keyframes slideFromRight {
  0% {
    transform: translateX(600%); }
  80% {
    transform: translateX(-20%); }
  100% {
    transform: translateX(0); } }

@keyframes slideFromTop {
  0% {
    transform: translateY(-600%); }
  80% {
    transform: translateY(20%); }
  100% {
    transform: translateY(0); } }

@keyframes slideLeft {
  0% {
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: rotateY(180deg); } }
