body {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: 'SignPainter-HouseScript';
  src: url("../fonts/SignPainter-HouseScript.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue Regular';
  src: url("../fonts/BebasNeue Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue Bold';
  src: url("../fonts/BebasNeue Bold.ttf");
  font-weight: bold;
  font-style: normal; }

.header {
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  overflow: hidden; }

.header .container::before {
  content: '';
  height: 119px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0; }

.header__top {
  display: flex; }

.header__search-logo {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 7px 0 0 0;
  z-index: 2;
  margin-right: 127px; }

.header__search {
  background: #000;
  border: 1px solid #8193a1;
  padding: 5px 23px 5px 7px;
  position: relative;
  color: #8193a1;
  font-family: 'BebasNeue Regular', Arial;
  min-width: 208px;
  box-sizing: border-box; }
  .header__search::after {
    content: '';
    width: 12px;
    height: 12px;
    right: 0;
    top: 0;
    display: block;
    background: url("../img/magnifying-glass.png"); }

.header__magnifier {
  position: absolute;
  width: 12px;
  height: 12px;
  background: url("../img/magnifying-glass.png");
  background-repeat: no-repeat;
  border: 0;
  top: 15px;
  left: 186px; }

.header__links-bag {
  z-index: 2; }

.header__logo {
  padding: 17px 0 9px 11px; }

.header__social-list {
  display: flex;
  padding: 11px 0 13px 0;
  margin: 0; }

.header__social-item {
  list-style: none;
  margin-right: 30px; }
  .header__social-item:first-child {
    margin-left: auto; }
  .header__social-item:last-child {
    margin-right: 0; }

.header__social-link {
  position: relative; }
  .header__social-link::before {
    content: '';
    position: relative;
    display: block; }
  .header__social-link--vk::before {
    width: 34px;
    height: 20px;
    background: url("../img/vk-logo.png"); }
  .header__social-link--instagram::before {
    width: 21px;
    height: 21px;
    background: url("../img/instagram-logo.png"); }
  .header__social-link--envato::before {
    width: 19px;
    height: 21px;
    background: url("../img/envato-logo.png"); }
  .header__social-link--soundcloud::before {
    width: 36px;
    height: 20px;
    background: url("../img/soundcloud-logo.png"); }

.header__anchor-list {
  padding: 0;
  margin: 0;
  display: flex; }

.header__anchor-item {
  list-style: none;
  border-top: 10px solid red;
  padding-top: 13px;
  min-width: 99px;
  text-align: center; }
  .header__anchor-item--gold {
    border-color: #ffb001; }
  .header__anchor-item--orange {
    border-color: #ff7200; }
  .header__anchor-item--pink {
    border-color: #cb0691; }
  .header__anchor-item--indigo {
    border-color: #8107b4; }
  .header__anchor-item--blue {
    border-color: #361c7d; }
  .header__anchor-item--lightblue {
    border-color: #0090cf; }

.header__anchor-link {
  text-decoration: none;
  color: #fff;
  font-family: 'SignPainter-HouseScript', Arial;
  font-size: 25px; }

.header__bottom {
  text-align: center;
  padding: 85px 0 315px 0; }

.header__title {
  margin: 0;
  font-size: 62.5px;
  color: #fff;
  background: #ffb001;
  padding: 25px 47px;
  text-transform: uppercase;
  font-family: 'BebasNeue Regular', Arial;
  display: inline-block;
  margin-bottom: 39px;
  animation: rotation 900ms; }

.header__services-list {
  padding: 0;
  margin: 0;
  font-size: 0; }

.header__services-item {
  list-style: none;
  margin-bottom: 34px;
  display: flex;
  justify-content: center; }
  .header__services-item:last-child {
    margin-bottom: 0; }

.header__service {
  color: #fff;
  padding: 19px 34px;
  margin: 0;
  margin-right: 24px;
  font-family: 'BebasNeue Bold', Arial;
  font-size: 37.5px;
  background: rgba(255, 255, 255, 0.1); }
  .header__service--bigger {
    padding: 19px 45px; }
  .header__service--from-top {
    animation: slideFromTop 900ms; }
  .header__service--from-left {
    animation: slideFromLeft 900ms; }
  .header__service--from-right {
    animation: slideFromRight 900ms; }
  .header__service:last-child {
    margin-right: 0; }

.container {
  max-width: 1357px;
  margin: 0 auto; }

.about {
  background: #efefef url("../img/background-gray.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 90px; }

.about__features {
  padding: 0;
  margin: 0 auto;
  display: flex;
  margin-top: -92px;
  justify-content: space-around;
  margin-bottom: 119px;
  max-width: 900px; }

.about__features-item {
  list-style: none; }
  .about__features-item:last-child {
    margin-right: 0; }

.about__feature-description {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 27px;
  text-align: center; }
  .about__feature-description::before {
    content: '';
    width: 187px;
    height: 187px;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; }
  .about__feature-description--terms::before {
    background: url("../img/terms-logo.png"); }
  .about__feature-description--creative::before {
    background: url("../img/creative-logo.png"); }
  .about__feature-description--equipment::before {
    background: url("../img/equipment-logo.png"); }

.about__slider {
  background: rgba(0, 0, 0, 0.2);
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  display: flex;
  min-height: 547px;
  margin-bottom: 74px; }
  .about__slider::before {
    content: '';
    width: 320px;
    height: 613px;
    background: url("../img/patrik-photo.png");
    position: absolute;
    bottom: 0;
    left: 89px; }

.about__slide {
  position: absolute;
  right: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 83px 85px 79px 85px; }

.about__slide--2 {
  padding: 83px 46px 99px 85px; }

.about__slide--2 .about__slide-item {
  font-size: 25px;
  font-family: "BebasNeue Bold", sans-serif;
  max-width: 627px;
  text-align: left;
  position: relative;
  margin-bottom: 24px; }
  .about__slide--2 .about__slide-item::before {
    content: '';
    position: absolute;
    left: -70px;
    width: 48px;
    height: 48px;
    background: url("../img/checked-icon.png"); }

.about__slide--hidden {
  animation: slideLeft 300ms;
  animation-fill-mode: forwards; }

.about__slide-title {
  padding: 0;
  margin: 0;
  margin-bottom: 32px; }

.about__slide-title,
.about__slide-item {
  font-family: "BebasNeue Regular", sans-serif;
  font-size: 45.83px;
  text-align: center; }

.about__slide-list {
  padding: 0 15px 0 0;
  margin: 0; }

.about__slide-item {
  list-style: none;
  font-size: 37.5px;
  margin-bottom: 15px; }
  .about__slide-item--orange {
    color: #d55a1d;
    font-family: "BebasNeue Bold", sans-serif;
    font-size: 41.67px;
    margin-bottom: 30px; }
  .about__slide-item:last-child {
    margin-bottom: 0; }

.about__switches-list {
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 90%;
  right: 30%; }

.about__switches-item {
  list-style: none;
  margin-right: 10px; }
  .about__switches-item:last-child {
    margin-right: 0; }

.about__switch {
  height: 3px;
  width: 20px;
  border: 0;
  background: #fff;
  cursor: pointer; }
  .about__switch--active {
    background: #ff5e00; }
  .about__switch:hover, .about__switch:focus {
    background: #ff9253; }
  .about__switch--active:hover, .about__switch--active:focus {
    background: #ff5e00; }

.about__statistics {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1168px;
  flex-wrap: wrap;
  align-items: center; }

.about__statistics-item {
  flex: 1;
  list-style: none;
  text-align: center;
  position: relative; }
  .about__statistics-item::before {
    margin: 0 auto;
    position: relative;
    content: '';
    display: block;
    width: 73px;
    margin-bottom: 2px; }
  .about__statistics-item--years::before {
    height: 73px;
    background: url("../img/clock-icon.png"); }
  .about__statistics-item--clients::before {
    height: 73px;
    background: url("../img/hand-icon.png"); }
  .about__statistics-item--minuses::before {
    height: 75px;
    background: url("../img/notes-icon.png"); }
  .about__statistics-item--tracks::before {
    height: 72px;
    background: url("../img/mixer-icon.png"); }
  .about__statistics-item--compositions::before {
    height: 74px;
    background: url("../img/microphone-icon.png"); }

.about__statistics-number {
  font-size: 75px;
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 10px; }

.about__statistics-description {
  margin: 0;
  padding: 0;
  font-size: 16.67px;
  font-family: "BebasNeue Regular", sans-serif; }

@media (max-width: 1161px) {
  .about {
    background-size: auto; }
  .about__slider::before {
    left: 30px; }
  .about__slide--2 {
    max-width: 500px; }
    .about__slide--2 .about__slide-item {
      font-size: 22px; } }

.portfolio {
  background: #485767 url("../img/background-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 31px; }

.portfolio__title {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 83.33px;
  font-family: "BebasNeue Bold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 78px; }

.portfolio__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap; }

.portfolio__button {
  background: transparent;
  border: 0;
  position: absolute;
  width: 96px;
  height: 96px;
  cursor: pointer;
  z-index: 2; }
  .portfolio__button::before {
    content: '';
    width: 96px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .portfolio__button--prev::before {
    background: url("../img/button-prev.png"); }
  .portfolio__button--prev {
    left: 0; }
  .portfolio__button--next {
    right: 0;
    margin-top: -58px; }
  .portfolio__button--next::before {
    background: url("../img/button-next.png"); }

.portfolio__slides {
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  min-height: 458px;
  min-width: 400px;
  max-width: 400px;
  margin-left: 58px; }

.portfolio__slide {
  list-style: none;
  position: absolute; }
  .portfolio__slide--hidden {
    animation: slideLeft 300ms;
    animation-fill-mode: forwards; }

.portfolio__slide-title {
  padding: 0;
  margin: 0;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 53.33px;
  color: #fff;
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 16px solid #ff7200; }

.portfolio__slide-text {
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-family: "BebasNeue Regular", sans-serif;
  color: #fff;
  margin-bottom: 20px;
  line-height: 28px; }
  .portfolio__slide-text:last-child {
    margin-bottom: 0; }

.portfolio__services {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; }

.portfolio__services-item {
  list-style: none;
  position: relative;
  font-size: 25px;
  flex-basis: 200px;
  font-family: "BebasNeue Regular", sans-serif;
  color: #fff;
  line-height: 28px; }
  .portfolio__services-item:nth-child(even) {
    flex-basis: 160px;
    margin-left: 40px; }
  .portfolio__services-item:last-child {
    margin-bottom: 0; }
  .portfolio__services-item::before {
    content: '-';
    position: relative;
    margin-right: 3px; }

.portfolio__video {
  position: relative;
  min-width: 790px;
  min-height: 449px; }
  .portfolio__video::before {
    content: '';
    position: absolute;
    top: -40px;
    left: -42px;
    width: 880px;
    height: 449px;
    background: url("../img/macbook.png");
    z-index: 1; }
  .portfolio__video iframe {
    position: relative;
    top: -3px;
    left: 76px;
    z-index: 2; }

@media (min-width: 1223px) and (max-width: 1397px) {
  .portfolio .container {
    max-width: 1220px; } }

@media (max-width: 1394px) {
  .portfolio__slides {
    min-width: 500px;
    margin-left: 0;
    margin-bottom: 30px; }
  .portfolio__button--prev {
    left: 35px; }
  .portfolio__button--next {
    right: 35px; } }

.advantages {
  padding: 45px 0 0 0;
  background: #efefef url("../img/background-gray.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }

.advantages__title {
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 54.17px;
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
  text-align: center; }

.advantages__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline; }

.advantages__item {
  position: relative;
  list-style: none;
  text-align: center;
  flex-basis: 30%;
  flex-grow: 1; }
  .advantages__item:nth-child(-n+3) {
    margin-bottom: 90px; }
  .advantages__item::before {
    position: relative;
    display: block;
    margin: 0 auto;
    content: ''; }
  .advantages__item--edits::before {
    width: 78px;
    height: 76px;
    margin-bottom: 20px;
    background: url("../img/brush-icon.png"); }
  .advantages__item--experience::before {
    width: 78px;
    height: 81px;
    margin-bottom: 20px;
    background: url("../img/thumb-icon.png"); }
  .advantages__item--rights::before {
    width: 56px;
    height: 78px;
    margin-bottom: 20px;
    background: url("../img/lock-icon.png"); }
  .advantages__item--multigenre::before {
    width: 73px;
    height: 79px;
    margin-bottom: 20px;
    background: url("../img/music-icon.png"); }
  .advantages__item--fast::before {
    width: 73px;
    height: 79px;
    margin-bottom: 20px;
    background: url("../img/stopwatch-icon.png"); }
  .advantages__item--online::before {
    width: 79px;
    height: 77px;
    margin-bottom: 20px;
    background: url("../img/online-icon.png"); }

.advantages__name {
  display: block;
  font-family: "BebasNeue Bold", sans-serif;
  margin: 0 auto;
  font-size: 38.7px;
  margin-bottom: 25px;
  max-width: 283px; }

.advantages__description {
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 19.35px;
  max-width: 270px;
  margin: 0 auto;
  padding: 0;
  color: rgba(0, 0, 0, 0.5); }

@media (max-width: 970px) {
  .advantages__name {
    font-size: 27px; }
  .advantages__description {
    font-size: 15px; } }

.partners {
  background: #485767 url("../img/background-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 25px; }

.partners__title {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "BebasNeue Bold", sans-serif;
  font-size: 55px;
  text-align: center;
  margin-bottom: 40px; }

.partners__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center; }

.partners__item {
  list-style: none;
  margin-bottom: 55px; }

@keyframes rotation {
  0% {
    transform: rotateY(90deg);
    opacity: 0; }
  70% {
    transform: rotateY(-20deg); }
  100% {
    transform: rotateY(0);
    opacity: 1; } }

@keyframes slideFromLeft {
  0% {
    transform: translateX(-600%); }
  80% {
    transform: translateX(20%); }
  100% {
    transform: translateX(0); } }

@keyframes slideFromRight {
  0% {
    transform: translateX(600%); }
  80% {
    transform: translateX(-20%); }
  100% {
    transform: translateX(0); } }

@keyframes slideFromTop {
  0% {
    transform: translateY(-600%); }
  80% {
    transform: translateY(20%); }
  100% {
    transform: translateY(0); } }

@keyframes slideLeft {
  0% {
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: rotateY(180deg); } }
