@font-face {
	font-family: 'SignPainter-HouseScript';
	src: url('../fonts/SignPainter-HouseScript.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue Regular';
	src: url('../fonts/BebasNeue Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue Bold';
	src: url('../fonts/BebasNeue Bold.ttf');
	font-weight: bold;
	font-style: normal;
}