$color-gold: #ffb001;
$color-orange: #ff7200;
$color-pink: #cb0691;
$color-indigo: #8107b4;
$color-blue: #361c7d;
$color-lightblue: #0090cf;

$fontBebasReg: 'BebasNeue Regular', sans-serif;
$fontBebasBold: 'BebasNeue Bold', sans-serif;

$background-gray: #efefef url('../img/background-gray.jpg');
$background-blue: #485767 url('../img/background-blue.jpg');