.reviews {
    padding: 65px 0;

    background: $background-gray;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.reviews .container {
    padding: 25px 0 65px 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
}

.reviews__title {
    font-family: $fontBebasBold;
    padding: 0;
    margin: 0;
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.reviews__list {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 633px;
}

.reviews__item {
    list-style: none;
    display: none;
    justify-content: space-between;
    position: absolute;
    min-width: 1030px;
    margin-left: -515px;
    left: 50%;


    &--visible {
        display: flex;
        animation: appearance 1s;
    }
}

.reviews__item--small .reviews__review {
    max-width: 328px;
}

.reviews__item--medium .reviews__review {
    max-width: 497px;
}

.reviews__item--large .reviews__review {
    max-width: 900px;
    margin: 0 auto;
}

.reviews__item--large .reviews__text {
    font-size: 14px;
}

.reviews__review {
    position: relative;
    display: flex;
    flex-direction: column;
    &::before {
        content: '';
        width: 128px;
        height: 128px;
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    &--davoi::before {
        background: url(../img/yuri-davoi-photo.png);
    }

    &--nechet::before {
        background: url(../img/elena-nechet-photo.png);
    }

    &--obuhov::before {
        background: url(../img/stanislav-obuhov-photo.png);
    }

    &--borisova::before {
        background: url(../img/lyubov-borisova-photo.png);
    }

    &--mangileva::before {
        background: url(../img/olga-mangileva-photo.png);
    }

    &--dolbnev::before {
        background: url(../img/denis-dolbnev-photo.png);
    }

    &--saharov::before {
        background: url(../img/ivan-saharov-photo.png);
    }

    &--gross::before {
        background: url(../img/vladimir-gross-photo.png);
    }

    &--kuhtikova::before {
        background: url(../img/oksana-kuhtikova-photo.png);
    }

    &--kolpakov::before {
        background: url(../img/egor-kolpakov-photo.png);
    }

    &--titova::before {
        background: url(../img/elena-titova-photo.png);
    }
}

.reviews__name,
.reviews__about,
.reviews__location {
    display: block;
    font-family: "Myriad Pro", sans-serif;
    text-align: center;
}

.reviews__name {
    font-family: $fontBebasBold;
    font-size: 33px;
    margin-bottom: 15px;
}

.reviews__about {
    font-size: 13.5px;
    font-weight: bold;
    color: #cf5c00;
    margin-bottom: 10px;
    white-space: nowrap;
    align-self: center;
}

.reviews__location {
    font-size: 14px;
    margin-bottom: 40px;
}

.reviews__text {
    padding: 25px 19px 19px 25px;
    border-radius: 10px;
    margin: 0;
    text-align: justify;
    font-family: "Myriad Pro", sans-serif;
    font-size: 16.6px;
    font-weight: bold;
    background: #f7f7f7;
    position: relative;
    flex: 1;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 40px;
        height: 30px;
        background: #f7f7f7;
        transform: rotate(45deg);
        top: -10px;
        left: 50%;
        margin-left: -15px;
    }
}

.reviews__paragraph {
    position: relative;
    display: block;
    &::before {
        width: 23px;
        content: '';
        height: 1px;
        position: relative;
        display: inline-block;
    }
}

.reviews__button {
    position: absolute;
    background: transparent;
    padding: 0;
    border: none;
    top: 50%;
    margin-top: -63px;

    &:hover,
    &:focus {
        opacity: 0.6;
    }

    &--left {
        left: 14px;

        &::before {
            background: url(../img/left-arrow.png);
        }
    }

    &--right {
        right: 14px;

        &::before {
            background: url(../img/right-arrow.png);
        }
    }

    &::before {
        content: '';
        width: 27px;
        height: 126px;
        display: block;
        position: relative;
    }
}

.reviews__pages {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 95%;
    left: 50%;
    margin-left: -70px;
}

.reviews__page {
    margin-right: 10px;
    height: 3px;
    width: 20px;
    background: #fff;

    &--active {
        background: #ff7100;
    }

    &:last-child {
        margin-right: 0;
    }
}