.reviews {
	padding: 65px 0;

	background: $background-gray;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.reviews .container {
	padding: 25px 0 65px 0;
	background: rgba(0, 0, 0, 0.2);
}

.reviews__title {
	font-family: $fontBebasBold;
	padding: 0;
	margin: 0;
	font-size: 55px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 65px;
}

.reviews__text {
	font-family: Times New Roman;
	font-size: 25px;
	text-align: center;
	max-width: 737px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 25px;
}

.reviews__author {
	display: block;
	font-size: 24px;
	color: $color-orange;
	text-align: center;
	margin-bottom: 85px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.reviews__controls {
	padding: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.reviews__controls-item {
	margin-right: 10px;
	list-style: none;

	&:last-child {
		margin-right: 0;
	}
}

.reviews__button {
	border: 0;
	padding: 0;
	background: #fff;
	min-height: 3px;
	min-width: 20px;

	&--active {
		background: $color-orange;
	}

	&:hover,
	&:focus {
		background: $color-gold;
	}

	&--active:hover,
	&--active:focus {
		background: $color-orange;
	}
}